@{
    ViewBag.Title = "Download";
}

<h2>Download for the end-users</h2>
<h3>End-users software: </h3>
<p>Download our free software to track your deals easy and automatically:</p>
<li>GlobalTrack Desktop (Windows x86 , x64)</li>
<li>GlobalTrack Android apk</li>
<li>GlobalTrack Windows Phone</li>
<li>GlobalTrack iOS (iPad, iPhone) </li>

<h3>Enterprise software: </h3>
<p>Download our free software to automate a process of creation new trackings and manage existing: </p>
<li>GlobalTrack Enterprise Desktop (Windows x86 , x64)</li>
<li>GlobalTrack Enterprise Android apk</li>
<li>GlobalTrack Enterprise Windows Phone</li>
<li>GlobalTrack Enterprise iOS (iPad, iPhone) </li>

<h3>Developers and system integrators</h3>
<p>Download WSDL file and get access to GlobalTrack Web Services API for better integration of our software with your existing system:</p>
<li><a href="http://globaltrackservice.uhurucloud.com/GlobalTrackServicev1.svc?wsdl">GlobalTrack WebServices API version 1 WSDL</a></li>
