<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="mongoDbServerConnection" value="mongodb://{GlobalTrackDB#user}:{GlobalTrackDB#password}@{GlobalTrackDB#host}:{GlobalTrackDB#port}/db"/>-->

    <add key="mongoDbServerConnection" value="mongodb://admin:volga613@ds035693.mongolab.com:35693/globaltrack" />
    <add key="mongoDbName" value="globaltrack" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authorization>
      <deny users="?" />
    </authorization>
    <!--<membership defaultProvider="MongoMembershipProvider">
      <providers>
        <clear />
        <add name="MongoMembershipProvider" type="GlobalTrackService.Security.MongoMembershipProvider" />
      </providers>
    </membership>-->
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "f:\dev\GlobalTrackServiceTraces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
